################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Source/bin/Debug
/Source/obj/Debug
*.csproj.user
